/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinza: #666666;

    --fonte-cabecalho: "Inter", sans-serif;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.cabecalho__imagem {
    width: 10%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-cabecalho);
    font-size: 1em;
    font-weight: 500;
    color: var(--cinza);
    text-decoration: none;
    padding: 0.5% 0% 0% 0%;
}

.linha__estilizacao {
    background-color: #D9D9D9;
    padding: 0.5% 0%;
}

.apresentacao {
    padding: 1% 0%;
    margin: 0px 0px 0px 5%;
}

.indentificacao__pagina {
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: 400;
    padding: 1% 0%;
}

.indentificacao__pagina__destaque {
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: 700;
}

.conteudo {
    display: flex;
    align-items: center;
}

/* Estilo para o conteúdo da apresentação */
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 1.8em;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    margin-top: 22px;
    font-weight: 400;
    padding: 2% 15% 2% 0;
}

.apresentacao__botao__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #089CE2; 
    color: #fff; 
    border: none;
    width: 30%; 
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10.5px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    margin-top: 22px;
}

.apresentacao__botao__navegacao:hover {
    background-color: #0779b8; 
}

.apresentacao__imagem {
    background-color: #BED9E6;
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.apresentacao__imagem__img {
    max-width: 100%; 
    height: auto;
}


.servicos__titulo, .beneficios__titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.2em;
    padding: 2% 0 2% 0;
}

.servicos__cards {
    margin: 0 30px;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex; /* Adiciona display flex para os contêineres dos cards */
    justify-content: space-between; /* Adiciona espaçamento entre os cards */
}

.swiper-slide {
    width: calc((100% - 80px) / 3); 
    margin: 0 20px; 
    border-right: 1px solid transparent; /* Adiciona uma borda à direita em todos os slides */
}

.swiper-slide:last-child {
    margin-right: 0; /* Remove a margem direita do último slide */
}

.servicos__cards__imagem{
    border-radius: 10px;
    width: 60%;
    margin-bottom: 10px;
}

.servicos__cards__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.3em;
    font-weight: 600;
}

.beneficios__cards {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0px 70px;
}

.beneficios__cards__conteudo {
    width: auto;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
}

/* Estilização das imagens nos cards */
.beneficios__cards__imagem {
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px;
    margin-bottom: 10px; /* Espaçamento inferior para o texto */
}

.beneficios__cards__titulo{
    font-family: var(--fonte-primaria);
    font-size: 0.9em;
    margin-bottom: 10px;
}

.beneficios__cards__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1em;
}

.footer {
    margin-top: 10%;
    background-color: #0779b8;
    padding: 20px;
    text-align: center;
}

.footer__content {
    max-width: 800px;
    margin: 0 auto;
}

.footer__members {
    list-style: none;
    padding: 2%;
}

.footer__members li {
    display: inline-block;
    margin-right: 10px;
}


